div #sidebar {
  float: left;
  border: 0px solid #dbdbdb;
  padding: 10px 30px;
  border-radius: 20px;
  width: 32%;
}

label.checkbox_label {
  padding: 0px 9px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: black;
  background-color: #ffffff;
  border: 3px solid #77abff;
  border-radius: 16px;
}
