/*checkbox shape color*/
input[type="checkbox"] {
  appearance: none;
  border-radius: 40%;
  width: 32px;
  height: 16px;
  border: 1px solid black;
}
input[type="number"] {
  width: 50px;
}
input[type="color"] {
  width: 50px;
  padding: 0;
  border-width: 0;
}
input[type="checkbox"]:checked {
  background-color: #2ac3de;
}

input[type="text"]::placeholder {
  /* Firefox, Chrome, Opera */
  text-align: top left;
}

#accordion h3 {
  /*Change values accoridngly*/
  text-align: left;
  color: black;
  background-color: red;
  border-color: black;
}

/*tooltip*/
/*https://www.w3schools.com/css/css_tooltip.asp*/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*---------------------*/

.page-section {
  margin-top: 0.1rem;
  padding: 2em;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.page-section > p {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
