{% extends "layout.html" %}
{% block content %}
    <div class="page-section">
        <div id="page_heading">
            <p>
                <font size="5"><b><u>General Settings</u></b></font>
            </p>
        </div>
    </div>
    <div class="page-section">
        <div class="row">
            <div class="col-4">
                <input id="ambig_check"
                       type="checkbox"
                       name="ambig"
                       {% if ambig=="T" %} checked {% else %}  {% endif %} />
            </div>
            <div class="col-8">
                <label for='ambig_check' class='padded_label'>Allow ambiguously mapped reads</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_single_gene&child_acc=child_ambig">&#9432;</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input id="normalize"
                       type="checkbox"
                       name="normalize"
                       {% if normalize=="T" %} checked {% else %}  {% endif %} />
            </div>
            <div class="col-8">
                <label for='normalize' class='padded_label'>Normalize by mapped reads</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_comparison&child_acc=child_comp_norm">&#9432;</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input id="comp_ribocov"
                       type="checkbox"
                       name="comp_ribocov"
                       {% if comp_ribocov=="T" %} checked {% else %}  {% endif %} />
            </div>
            <div class="col-8">
                <label for='normalize' class='padded_label'>Ribo-Seq coverage</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_comparison&child_acc=child_comp_norm">&#9432;</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Gene/Transcript: </b><a class="whatsthis"
   target="_blank"
   href="/help/?parent_acc=parent_comparison&child_acc=child_comp_gene">&#9432;</a>
            </div>
            <div class="col-8">
                <input align="center"
                       id="tran"
                       type="text"
                       name="transcript"
                       value="ENST00000367055" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Min Read: </b><a class="whatsthis"
   target="_blank"
   href="/help/?parent_acc=parent_comparison&child_acc=child_comp_minread">&#9432;</a>
            </div>
            <div class="col-8">
                <input type="text" id="minread" name="minread" value="25" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Max Read: </b><a class="whatsthis"
   target="_blank"
   href="/help/?parent_acc=parent_comparison&child_acc=child_comp_maxread">&#9432;</a>
            </div>
            <div class="col-8">
                <input type="text" id="maxread" name="maxread" value="150" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Highlight start: </b><a class="whatsthis"
   target="_blank"
   href="/help/?parent_acc=parent_comparison&child_acc=child_comp_hili">&#9432;</a>
            </div>
            <div class="col-8">
                <input type="text" id="hili_start" name="hili_start" value="0" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <b>Highlight stop: </b><a class="whatsthis"
   target="_blank"
   href="/help/?parent_acc=parent_comparison&child_acc=child_comp_hili">&#9432;</a>
            </div>
            <div class="col-8">
                <input type="text" id="hili_stop" name="hili_stop" value="0" />
            </div>
        </div>
    </div>
    <div class="page-section">
        <div id="page_heading">
            <p>
                <font size="5"><b><u>Seq Types</u></b></font>
            </p>
        </div>
    </div>
    <div class="page-section">
        <div id="page_heading">
            <p>
                <font size="5"><b><u>Studies</u></b></font>
            </p>
        </div>
    </div>
    <div class="page-section">
        <div id="page_heading">
            <p>
                <font size="5"><b><u>Files</u></b></font>
            </p>
        </div>
    </div>
    <div id = "dialog-2" title = "Choose a transcript..."></div>
    <div id="files">
    </br>
    <p>
        <font size="5" align="center"><b><u>Files</u></b>
        </br>
    </font>
</p>
</div>
<div id="file_list">
</br>
<div id="group_1_div" class="group_div">
    <input class="jscolor {width:250, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}"
           id="group1_color"
           name="favcolor"
           value="#ff0000">
    <input style="font-weight: bold;
                  max-width: 40%"
           align="center"
           name="group_1_label"
           id="group1_label"
           type="text"
           value="Group 1">
</input>
<ul class="draggable_filelist"
    id="group_1_file_list"
    style="align:center">
</ul>
</div>
<div id="group_2_div" class="group_div">
    <input class="jscolor {width:250, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}"
           id="group2_color"
           name="favcolor"
           value="#0010FF">
    <input style="font-weight: bold;
                  max-width: 40%"
           align="center"
           name="group_2_label"
           id="group2_label"
           type="text"
           value="Group 2">
</input>
<ul class="draggable_filelist"
    id="group_2_file_list"
    style="align:center">
</ul>
</div>
<div id="group_3_div" class="group_div">
    <input class="jscolor {width:250, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}"
           id="group3_color"
           name="favcolor"
           value="#0DFF00">
    <input style="font-weight: bold;
                  max-width: 40%"
           align="center"
           name="group_3_label"
           id="group3_label"
           type="text"
           value="Group 3">
</input>
<ul class="draggable_filelist"
    id="group_3_file_list"
    style="align:center">
</ul>
</div>
<div id="group_4_div" class="group_div">
    <input class="jscolor {width:250, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}"
           id="group4_color"
           name="favcolor"
           value="#FFA200">
    <input style="font-weight: bold;
                  max-width: 40%"
           align="center"
           name="group_4_label"
           id="group4_label"
           type="text"
           value="Group 4">
</input>
<ul class="draggable_filelist"
    id="group_4_file_list"
    style="align:center">
</ul>
</div>
<div id="group_5_div" class="group_div">
    <input class="jscolor {width:250, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}"
           id="group5_color"
           name="favcolor"
           value="#BA00FF">
    <input style="font-weight: bold;
                  max-width: 40%"
           align="center"
           name="group_5_label"
           id="group5_label"
           type="text"
           value="Group 5">
</input>
<ul class="draggable_filelist"
    id="group_5_file_list"
    style="align:center">
</ul>
</div>
<div id="group_6_div" class="group_div">
    <input class="jscolor {width:250, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}"
           id="group6_color"
           name="favcolor"
           value="#02EDFF">
    <input style="font-weight: bold;
                  max-width: 40%"
           align="center"
           name="group_6_label"
           id="group6_label"
           type="text"
           value="Group 6">
</input>
<ul class="draggable_filelist"
    id="group_6_file_list"
    style="align:center">
</ul>
</div>
<div id="group_7_div" class="group_div">
    <input class="jscolor {width:250, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}"
           id="group7_color"
           name="favcolor"
           value="#F9FF12">
    <input style="font-weight: bold;
                  max-width: 40%"
           align="center"
           name="group_7_label"
           id="group7_label"
           type="text"
           value="Group 7">
</input>
<ul class="draggable_filelist"
    id="group_7_file_list"
    style="align:center">
</ul>
</div>
<div id="group_8_div" class="group_div">
    <input class="jscolor {width:250, height:150, position:'right', borderColor:'#FFF', insetColor:'#FFF', backgroundColor:'#666', hash:true}"
           id="group8_color"
           name="favcolor"
           value="#FF02DA">
    <input style="font-weight: bold;
                  max-width: 40%"
           align="center"
           name="group_8_label"
           id="group8_label"
           type="text"
           value="Group 8">
</input>
<ul class="draggable_filelist"
    id="group_8_file_list"
    style="align:center">
</ul>
</div>
<br />
</div>
<div id="view_plot">
    <button class="button centerbutton"
            type="button"
            onclick='changebuttonlink(gwips_info)'
            id="comparequery">
        <b>View Plot</b>
    </button>
</div>
{% include "loading.html" %}
<div id="container"></div>
<div id = "study_dialog" title = "Study info">
    <table>
    </table>
</div>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
