{% extends "layout.html" %}
{% block title %}Trips-Viz login page{% endblock %}
{% block content %}
    <body>
        <div class="container">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="card" style="border-radius: 15px;">
                                <div class="card-body p-5">
                                    <h2 class="text-uppercase text-center mb-5">Please login</h2>
                                    <form action="" method="post">
                                        <!--TODO: CSRF key-->
                                        <div class="form-outline mb-4">
                                            <input type="email"
                                                   placeholder="Email"
                                                   name="username"
                                                   value="{{ request.form.username }}"
                                                   id="username"
                                                   class="form-control form-control-lg" />
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="password"
                                                   id="password"
                                                   placeholder="Password"
                                                   name="password"
                                                   value="{{ request.form.password }}"
                                                   class="form-control form-control-lg" />
                                        </div>
                                        {{ recaptcha }}
                                        <div class="d-flex justify-content-center">
                                            <button type="button"
                                                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                                Login
                                            </button>
                                        </div>
                                        <p class="text-center text-muted mt-5 mb-0">
                                            Do not have account? <a href="{{ url_for("create") }}" class="fw-bold text-body"><u>Register here</u></a>
                                        </p>
                                    </form>
                                    {% if error %}
                                        <p class="error">
                                            <strong>Error:</strong> {{ error }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </html>
{% endblock %}
