{% extends "layout.html" %}
{% block content %}
    {% include "metainfo_plot_options.html" %}
    <form id="form">
        {% include "metainfo_plots.html" %}
        <div id="options">
            <p>
                <font size="5" align="center"><b><u>Options</u></b></font>
            </p>
            <div id="options_container"></div>
        </div>
        {% include "single_transcript_plot__files.html" %}
        <div id="buttons"></div>
        <div id="view_plot" class="wrapper">
            <button class="button" type="button"  id="metainfoquery">
                <b>View Plot</b>
            </button>
        </div>
    </form>
    {% include "loading.html" %}
    <div id="te_table"></div>
    <div id="container"></div>
    <div id = "study_dialog" title = "Study info"></div>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
