<div id="sidebar">
    <br />
    <p>
        <font size="5" align="center"><b><u>Choose plot type</u></b></font>
    </p>
    <br />
    <br />
    <table align="center" class="plot_table" id="plottype_table">
        <tr>
            <td>
                <input type="radio" value="readlen_dist" name="plottype" />
                <label for="readlen" class="subplot_label">Read Length Distribution</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_readlen_dist">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="nuc_comp" name="plottype" />
                <label for="nuc_comp" class="subplot_label">Nucleotide Composition</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_nuc_comp">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="trip_periodicity" name="plottype" />
                <label for="trip_periodicity" class="subplot_label">Triplet Periodicity</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_trip_periodicity">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="mapped_reads_plot" name="plottype" />
                <label for="mapped_reads_plot" class="subplot_label">Reads breakdown</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_readsbreakdown">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="heatmap" name="plottype" />
                <label for="heatmap" class="subplot_label">Heatmap</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_heatmap">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="metagene_plot" name="plottype" />
                <label for="metagene_plot" class="subplot_label">Metagene Profile</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_metagene">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="replicate_comp" name="plottype" />
                <label for="replicate_comp" class="subplot_label">Comparison Table</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_rep_comp">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="dinuc_bias" name="plottype" />
                <label for="dinuc_bias" class="subplot_label">Dinucleotide bias</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_dinuc">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="unmapped" name="plottype" />
                <label for="unmapped" class="subplot_label">Most frequent unmapped reads</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_unmapped_reads">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="te" name="plottype" />
                <label for="te" class="subplot_label">Counts table</label>
                <a class="whatsthis"
                   target="_blank"
                   href="/help/?parent_acc=parent_metainfo&child_acc=child_count_table">
                    <i class="bi bi-info-circle"></i>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="mrna_dist" name="plottype" />
                <label for="mrna_dist" class="subplot_label">mRNA distribution</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" value="mrna_dist_readlen" name="plottype" />
                <label for="mrna_dist_readlen" class="subplot_label">mRNA distribution vs readlengths</label>
            </td>
        </tr>
    </table>
</div>
{% block footer_static %}
    <script type="text/javascript">
  $('input[name="plottype"]').change(function () {
    	$('#options_container').html($('#'+this.value).html());
    //var value = this.value;
    // alert(value);
  });
    </script>
{% endblock %}
