{% extends "layout.html" %}
{% block content %}
    <div id="sidebar">
        <br />
        <p>
            <font size="5" align="center"><b><u>Choose plot type</u></b></font>
        </p>
        <br />
        <br />
        <table align="center" class="plot_table" id="plottype_table">
            <tr>
                <td>
                    <input id="readlen"
                           class="study_radio readlen_dist"
                           type="radio"
                           value="readlen_dist"
                           name="plottype"
                           checked>
                </input>
                <label for="readlen" class='subplot_label'>Read Length Distribution</label>
                <a class='whatsthis'
                   target='_blank'
                   href='/help/?parent_acc=parent_metainfo&child_acc=child_readlen_dist'>  <i class="bi bi-info-circle"></i> </a>
            </td>
        </tr>
        <tr>
            <td>
                <input id="nuc_comp"
                       class="study_radio nuc_comp"
                       type="radio"
                       value="nuc_comp"
                       name="plottype"
                       unchecked>
            </input>
            <label for="nuc_comp" class='subplot_label'>Nucleotide Composition</label>
            <a class='whatsthis'
               target='_blank'
               href='/help/?parent_acc=parent_metainfo&child_acc=child_nuc_comp'>  <i class="bi bi-info-circle"></i> </a>
        </td>
    </tr>
    <tr>
        <td>
            <input id="trip_periodicity"
                   class="study_radio trip_periodicity"
                   type="radio"
                   value="trip_periodicity"
                   name="plottype"
                   unchecked>
        </input>
        <label for="trip_periodicity" class='subplot_label'>Triplet Periodicity</label>
        <a class='whatsthis'
           target='_blank'
           href='/help/?parent_acc=parent_metainfo&child_acc=child_trip_periodicity'>  <i class="bi bi-info-circle"></i> </a>
    </td>
</tr>
<tr>
    <td>
        <input id="mapped_reads_plot"
               class="study_radio mapped_reads_plot"
               type="radio"
               value="mapped_reads_plot"
               name="plottype"
               unchecked>
    </input>
    <label for="mapped_reads_plot" class='subplot_label'>Reads breakdown</label>
    <a class='whatsthis'
       target='_blank'
       href='/help/?parent_acc=parent_metainfo&child_acc=child_readsbreakdown'>  <i class="bi bi-info-circle"></i> </a>
</td>
</tr>
<tr>
    <td>
        <input id="heatmap"
               class="study_radio heatmap"
               type="radio"
               value="heatmap"
               name="plottype"
               unchecked>
    </input>
    <label for="heatmap" class='subplot_label'>Heatmap</label>
    <a class='whatsthis'
       target='_blank'
       href='/help/?parent_acc=parent_metainfo&child_acc=child_heatmap'>  <i class="bi bi-info-circle"></i> </a>
</td>
</tr>
<tr>
    <td>
        <input id="metagene_plot"
               class="study_radio metagene_plot"
               type="radio"
               value="metagene_plot"
               name="plottype"
               unchecked>
    </input>
    <label for="metagene_plot" class='subplot_label'>Metagene Profile</label>
    <a class='whatsthis'
       target='_blank'
       href='/help/?parent_acc=parent_metainfo&child_acc=child_metagene'>  <i class="bi bi-info-circle"></i> </a>
</td>
</tr>
<tr>
    <td>
        <input id="replicate_comp"
               class="study_radio replicate_comp"
               type="radio"
               value="replicate_comp"
               name="plottype"
               unchecked>
    </input>
    <label for="replicate_comp" class='subplot_label'>Comparison Table</label>
    <a class='whatsthis'
       target='_blank'
       href='/help/?parent_acc=parent_metainfo&child_acc=child_rep_comp'>  <i class="bi bi-info-circle"></i> </a>
</td>
</tr>
<tr>
    <td>
        <input id="dinuc_bias"
               class="study_radio dinuc_bias"
               type="radio"
               value="dinuc_bias"
               name="plottype"
               unchecked>
    </input>
    <label for="dinuc_bias" class='subplot_label'>Dinucleotide bias</label>
    <a class='whatsthis'
       target='_blank'
       href='/help/?parent_acc=parent_metainfo&child_acc=child_dinuc'>  <i class="bi bi-info-circle"></i> </a>
</td>
</tr>
<tr>
    <td>
        <input id="unmapped"
               class="study_radio unmapped"
               type="radio"
               value="unmapped"
               name="plottype"
               unchecked>
    </input>
    <label for="unmapped" class='subplot_label'>Most frequent unmapped reads</label>
    <a class='whatsthis'
       target='_blank'
       href='/help/?parent_acc=parent_metainfo&child_acc=child_unmapped_reads'>  <i class="bi bi-info-circle"></i> </a>
</td>
</tr>
<tr>
    <td>
        <input id="te"
               class="study_radio te"
               type="radio"
               value="te"
               name="plottype"
               unchecked>
    </input>
    <label for="te" class="subplot_label">Counts table</label>
    <a class='whatsthis'
       target='_blank'
       href='/help/?parent_acc=parent_metainfo&child_acc=child_count_table'>  <i class="bi bi-info-circle"></i> </a>
</td>
</tr>
<tr>
    <td>
        <input id="mrna_dist"
               class="study_radio mrna_dist"
               type="radio"
               value="mrna_dist"
               name="plottype"
               unchecked>
    </input>
    <label for="mrna_dist" class="subplot_label">mRNA distribution</label>
</td>
</tr>
<tr>
    <td>
        <input id="mrna_dist_readlen"
               class="study_radio mrna_dist_readlen"
               type="radio"
               value="mrna_dist_readlen"
               name="plottype"
               unchecked>
    </input>
    <label for="mrna_dist_readlen" class="subplot_label">mRNA distribution vs readlengths</label>
</td>
</tr>
<!-- <tr><td><input id="codon_usage" class="study_radio codon_usage" type="radio" value="codon_usage" name="plottype" unchecked></input><label for="codon_usage" class="subplot_label">Codon Usage</label></td></tr> -->
<!-- <tr><td><input id="fastq_screen" class="study_radio fastq_screen" type="radio" value="fastq_screen" name="plottype" unchecked></input><label for="fastq_screen" class='subplot_label'>Fastq screen</label><a class='whatsthis'  target='_blank' href='/help/?parent_acc=parent_metainfo&child_acc=child_dinuc'>  <i class="bi bi-info-circle"></i> </a>        </td></tr> -->
<!-- <tr><td><input id="contamination" class="study_radio contamination" type="radio" value="contamination" name="plottype" unchecked></input><label for="contamination" class="subplot_label">Contamination</label></td></tr>-->
</table>
</div>
<div id="options">
</br>
<p>
    <font size="5" align="center"><b><u>Options</u></b></font>
</p>
</div>
<div id="seq_types">
    <p>
        <font size="5" align="center"><b><u>Seq types</u></b></font>
    </p>
    <table align="center">
        <tr id="1">
            <td>
                <button class="button all_checks" type="button" onclick='uncheck_all_multi()'>
                    <b>Uncheck All Files With Selected Seq-type</b>
                </button>
            </td>
            <td>
                <button class="button all_checks" type="button" onclick='check_all_multi()'>
                    <b>Check All Files with Selected Seq-type</b>
                </button>
            </td>
        </tr>
    </table>
</br>
</div>
<div id="studies">
    <p>
        <font size="5" align="center"><b><u>Studies</u></b></font>
    </p>
</br>
<div id = "dialog-2" title = "Choose a transcript..."></div>
<div style="text-align: center;">
    <button class="study_button" type="button" onclick='view_study_info()'>
        <b>View study info</b>
    </button>
</div>
<table align="center">
    <tr id="2">
        <td>
            <button class="button all_checks"
                    type="button"
                    onclick="uncheck_study_multi()">
                <b>Uncheck All files in Files box</b>
            </button>
        </td>
        <td>
            <button class="button all_checks" type="button" onclick="check_study_multi()">
                <b>Check All files in Files box</b>
            </button>
        </td>
    </tr>
</table>
</br>
</br>
<table align="center" name="studytable" id="studytable" class="studytable">
    <tr id="tablerow1"></tr>
    <tr id="tablerow2"></tr>
    <tr id="tablerow3"></tr>
    <tr id="tablerow4"></tr>
    <tr id="tablerow5"></tr>
    <tr id="tablerow6"></tr>
    <tr id="tablerow7"></tr>
    <tr id="tablerow8"></tr>
    <tr id="tablerow9"></tr>
    <tr id="tablerow10"></tr>
    <tr id="tablerow11"></tr>
    <tr id="tablerow12"></tr>
    <tr id="tablerow13"></tr>
    <tr id="tablerow14"></tr>
    <tr id="tablerow15"></tr>
    <tr id="tablerow16"></tr>
    <tr id="tablerow17"></tr>
    <tr id="tablerow18"></tr>
    <tr id="tablerow19"></tr>
</table>
</br>
</br>
</div>
<div id="files">
</br>
<p>
    <font size="5" align="center"><b><u>Files</u></b>
    </br>
</font>
</p>
</div>
<div id="buttons"></div>
<div id="view_plot" class="wrapper">
    <button class="button" type="button"  id="metainfoquery">
        <b>View Plot</b>
    </button>
</div>
{% include "loading.html" %}
}
<div id="te_table">
    <a id="table_link"
       href="{{ url_for('static', filename='tmp/robots.txt') }}"
       download="robots.txt">Download entire table</a>
    <table id="myTable" class="prediction_table hover">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Gene</th>
                <th>Transcript</th>
                <th>Region</th>
                <th>Ribo-Seq count</th>
                <th>RNA-Seq count</th>
                <th>Translation efficiency</th>
                <th>Proteomics counts</th>
                <th>View plot</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<div id="container"></div>
<div id = "study_dialog" title = "Study info">
    <table>
    </table>
</div>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
