{% block header_static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css" />
    <link rel="stlesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/npm/vega-tooltip@0.32.0/vega-tooltip.scss" />
{% endblock %}
{% block plot %}
    <div class="charts text-center" id="plot">
        <!--<h1>Car Graph</h1>-->
        <div class="row">
            <div id="plot"></div>
        </div>
        <hr />
        <!-- Placeholder for the tooltip -->
        <div id="vis-tooltip" class="vg-tooltip"></div>
    </div>
{% endblock %}
{% block footer_static %}
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <script src="https://vega.github.io/datalib/datalib.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.32.0/build/vega-tooltip.min.js"></script>
    <script type="text/javascript">
    /*TODO: convert this as file*/
      function parse(data, div) {
	console.log(data);
	    if (data.startsWith("file:")) {
		var url = data.replace("file:", "");
		    $("#"+div).html(url);
		    
			} else if (data.startsWith("table:")){
			var url = data.replace("table:", "");
			$("#"+div).html(url);
					$("#data").DataTable({ pageLength: 10 });
			}else {
		    
        var opt = {
          mode: "vega-lite",
          renderer: "svg",
          actions: { export: true, source: false, editor: false },
        };
        vegaEmbed("#" + div, JSON.parse(data)); //, opt, function (error, result) {

	    }

        //vegaEmbed("#" + div, url, opt, function (error, result) {
          // result.view is the Vega View, url is the original Vega-Lite specification
          //vegaTooltip.vegaLite(result.view, url);
        //});
      }

    </script>
    <script src="/static/js/aks/plot_ajax.js"></script>
{% endblock %}
