<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="d3_plot.js"></script>
    <!--d3js-->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/d3-array@3"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/d3-format@3"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/d3-time@3"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/d3-time-format@4"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/d3-scale@4"></script>-->
    <!--<script src="https://d3js.org/d3-axis.v1.min.js"></script>-->
  </head>
  <body>
    <div id="plot"></div>

    <div id="rdg"></div>
    <div>
      <style>
        .dataframe > thead > tr,
        .dataframe > tbody > tr {
          text-align: right;
          white-space: pre-wrap;
        }
      </style>
      <small>shape: (3, 2)</small>
      <table border="1" class="dataframe">
        <thead>
          <tr>
            <th>a</th>
            <th>b</th>
          </tr>
          <tr>
            <td>i64</td>
            <td>i64</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
            <td>null</td>
          </tr>
          <tr>
            <td>null</td>
            <td>null</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script>
      $(document).ready(function () {
        $("button").click(function () {
          $(".x").toggle();
        });
      });
    </script>

    <button>Toggle between hiding and showing the paragraphs</button>

    <p class="x">This is a paragraph with little content.</p>
    <p class="x">This is another small paragraph.</p>
  </body>
  <footer>
    <script>
      var input = {
        query:
          '{"organism":"escherichia_coli","transcriptome":"Ensembl_k_12_ASM584v2","override":"","transcript":"gapA","readscore":"0","minread":"5","maxread":"150","seqhili":"","hili_stop":"0","offsite":"fiveprime","file_type":"riboseq","study":"0","file_riboseq__0":"on","file_riboseq__1":"on"}',
        pathname: "single_transcript_plot",
      };
      // const rdg_data = null;
      var line = d3
        .line()
        .x((d) => xScale(d.date))
        .y((d) => yScale(d.value))
        .curve(d3.curveNatural);
      $.post("http://localhost:5000/query", input, function (data) {
        // console.log(data.start_stop);
        var rdg_data = structuredClone(JSON.parse(data.rdg));

        rdg_plot(rdg_data);
        line_plot(d3.csvParse(data.plot), data.seq);
        bar_plot(d3.csvParse(data.plot));
        var vertical = d3
          .select("#plot")
          .append("div")
          .attr("class", "remove")
          .style("position", "absolute")
          .style("z-index", "19")
          .style("width", "1px")
          .style("height", "380px")
          .style("top", "10px")
          .style("bottom", "30px")
          .style("left", "0px")
          .style("background", "#000");
        d3.select("#plot")
          .on("mousemove", function () {
            mousex = d3.pointer(this);
            mousex = mousex[0] + 5;
            vertical.style("left", mousex + "px");
          })
          .on("mouseover", function () {
            mousex = d3.pointer(this);
            mousex = mousex[0] + 5;
            vertical.style("left", mousex + "px");
          });
      });
    </script>
  </footer>
</html>
