<div class="col-6">
  <div class="hidden">
    <!--Hidden Parameters-->
    {% for var in ['organism','transcriptome'] %}<input
      name="{{ var }}"
      value="{{ template_dict[var] }}"
    />{% endfor %}
    <input name="override" value="{{ override }}" />
  </div>
  <p>
    <font size="5"
      ><b><u>Choose plot type</u></b></font
    >
  </p>
  <div class="row">
    <div class="col-12">
      <input type="radio" value="nuc_comp_single" name="plottype" />
      <label for="readlen" class="subplot_label"
        >Nucleotide composition (Single transcript)</label
      >
      <a
        class="whatsthis"
        target="_blank"
        href="/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_nuc_comp_single"
        >&#9432;</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="radio" value="nuc_comp_multi" name="plottype" />
      <label for="nuc_comp_multi" class="subplot_label"
        >Nucleotide composition (Multiple transcripts)</label
      >
      <a
        class="whatsthis"
        target="_blank"
        href="/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_nuc_comp_multi"
        >&#9432;</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="radio" value="lengths_plot" name="plottype" unchecked />
      <label for="lengths_plot" class="subplot_label"
        >Lengths (Multiple transcripts)</label
      >
      <a
        class="whatsthis"
        target="_blank"
        href="/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_lengths"
        >&#9432;</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input
        id="gene_count"
        type="radio"
        value="gene_count"
        name="plottype"
        unchecked
      />
      <label for="gene_count" class="subplot_label">Gene count</label>
      <a
        class="whatsthis"
        target="_blank"
        href="/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_genes"
        >&#9432;</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="radio" value="codon_usage" name="plottype" unchecked />
      <label for="codon_usage" class="subplot_label">Codon usage</label>
      <a
        class="whatsthis"
        target="_blank"
        href="/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_codon_usage"
        >&#9432;</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="radio" value="nuc_freq_plot" name="plottype" unchecked />
      <label for="nuc_freq_plot" class="subplot_label"
        >Nucleotide frequency</label
      >
      <a
        class="whatsthis"
        target="_blank"
        href="/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_nucfreq"
        >&#9432;</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="radio" value="orfstats" name="plottype" unchecked />
      <label for="orfstats" class="subplot_label">ORF Table</label>
      <a
        class="whatsthis"
        target="_blank"
        href="/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_orftable"
        >&#9432;</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <input type="radio" value="fetch_seq" name="plottype" unchecked />
      <label for="fetch_seq" class="subplot_label">Fetch sequences</label>
      <a
        class="whatsthis"
        target="_blank"
        href="/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_fetch_seq"
        >&#9432;</a
      >
    </div>
  </div>
</div>
