{% extends "layout.html" %}
{% block content %}
    {% include "traninfo_plots_options.html" %}
    <form id="form">
        <div class="page-section">
            <div class="row">
                <div class="col-6">
                    <div class="row">{% include "traninfo_plots.html" %}</div>
                </div>
                <div class="col-6">
                    <br />
                    <center>
                        <p>
                            <font size="5"><b><u>Options</u></b></font>
                        </p>
                    </center>
                    <div id="options_container"></div>
                </div>
            </div>
            <div id="view_plot" class="wrapper">
                <button class="button" type="button"  id="traninfoquery">
                    <b>View Plot</b>
                </button>
            </div>
            {% include 'loading.html' %}
            <div id="fa_div" align="center">
                <a id="fa_link"
                   href="{{ url_for('static', filename='tmp/robots.txt') }}"
                   download="robots.txt">Download fasta file</a>
            </div>
            <div id="container"></div>
            <div id = "study_dialog" title = "Study info"></div>
            <script type="text/javascript"
                    src="{{ url_for('static', filename='js/common.js') }}"></script>
        </div>
    </form>
{% endblock %}
{% block footer_static %}
    <script type="text/javascript">
  $('input[name="plottype"]').change(function () {
    	$('#options_container').html($('#'+this.value).html());
    //var value = this.value;
    // alert(value);
  });
    </script>
    <script type="text/javascript" src="/static/js/aks/plot_ajax.js"></script>
{% endblock %}
