{% extends "layout.html" %}
{% block content %}
    <div class="page-section">
        <div class="row">
            <div class="col-6">
                <p>
                    <font size="5"><b><u>Choose plot type</u></b></font>
                </p>
                <div class="row">
                    <div class="col-12">
                        <input id="readlen"
                               class="study_radio nuc_comp_single"
                               type="radio"
                               value="nuc_comp_single"
                               name="plottype"
                               checked />
                        <label for="readlen" class='subplot_label'>Nucleotide composition (Single transcript)</label>
                        <a class='whatsthis'
                           target='_blank'
                           href='/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_nuc_comp_single'>&#9432;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input id="nuc_comp_multi"
                               class="study_radio nuc_comp_multi"
                               type="radio"
                               value="nuc_comp_multi"
                               name="plottype"
                               unchecked />
                        <label for="nuc_comp_multi" class='subplot_label'>Nucleotide composition (Multiple transcripts)</label>
                        <a class='whatsthis'
                           target='_blank'
                           href='/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_nuc_comp_multi'>&#9432;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input id="lengths_plot"
                               class="study_radio lengths_plot"
                               type="radio"
                               value="lengths_plot"
                               name="plottype"
                               unchecked />
                        <label for="lengths_plot" class='subplot_label'>Lengths (Multiple transcripts)</label>
                        <a class='whatsthis'
                           target='_blank'
                           href='/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_lengths'>&#9432;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input id="gene_count"
                               class="study_radio gene_count"
                               type="radio"
                               value="gene_count"
                               name="plottype"
                               unchecked />
                        <label for="gene_count" class='subplot_label'>Gene count</label>
                        <a class='whatsthis'
                           target='_blank'
                           href='/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_genes'>&#9432;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input id="codon_usage"
                               class="study_radio codon_usage"
                               type="radio"
                               value="codon_usage"
                               name="plottype"
                               unchecked />
                        <label for="codon_usage" class='subplot_label'>Codon usage</label>
                        <a class='whatsthis'
                           target='_blank'
                           href='/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_codon_usage'>&#9432;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input id="nuc_freq_plot"
                               class="study_radio nuc_freq_plot"
                               type="radio"
                               value="nuc_freq_plot"
                               name="plottype"
                               unchecked />
                        <label for="nuc_freq_plot" class='subplot_label'>Nucleotide frequency</label>
                        <a class='whatsthis'
                           target='_blank'
                           href='/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_nucfreq'>&#9432;</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input id="orfstats"
                           class="study_radio orfstats"
                           type="radio"
                           value="orfstats"
                           name="plottype"
                           unchecked />
                    <label for="orfstats" class='subplot_label'>ORF Table</label>
                    <a class='whatsthis'
                       target='_blank'
                       href='/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_orftable'>&#9432;</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input id="fetch_seq"
                           class="study_radio fetch_seq"
                           type="radio"
                           value="fetch_seq"
                           name="plottype"
                           unchecked />
                    <label for="fetch_seq" class='subplot_label'>Fetch sequences</label>
                    <a class='whatsthis'
                       target='_blank'
                       href='/help/?parent_acc=parent_traninfo&child_acc=child_traninfo_fetch_seq'>&#9432;</a>
                </div>
            </div>
            <div class="col-6">
                <div>
                    <div class="row">
                        <div class="col-6">
                            Transcript:
                            <input type="text"
                                   id="metagene_tranlist"
                                   name="metagene_tranlist"
                                   value="ENST00000558401">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <b>Plot type:</b>
                            <input type="radio"
                                   class="scatter"
                                   value="scatter"
                                   name="plot_type"
                                   checked="">
                            Scatter
                            <input type="radio" class="box" value="box" name="plot_type" checked="">
                            Box plot
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Region:</b>
                            <input type="radio" class="all" value="all" name="gc_location" checked="">
                            All
                            <input type="radio" class="five" value="five" name="gc_location" checked="">
                            5'
                            <input type="radio" class="cds" value="cds" name="gc_location" checked="">
                            CDS
                            <input class="three"
                                   type="radio"
                                   value="three"
                                   name="gc_location"
                                   unchecked="">
                            3'
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Nucleotide:</b>
                            <input type="radio" class="A" value="A" name="nucleotide" checked="">
                            A
                            <input type="radio" class="T" value="T" name="nucleotide" checked="">
                            T
                            <input type="radio" class="G" value="G" name="nucleotide" checked="">
                            G
                            <input class="C" type="radio" value="C" name="nucleotide" unchecked="">
                            C
                            <input type="radio" class="GC" value="GC" name="nucleotide" checked="">
                            GC
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list: </b>
                            <input type="text"
                                   id="gc_tranlist"
                                   name="gc_tranlist"
                                   value="ENST00000558401">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list 2: </b>
                            <input type="text" id="gc_tranlist2" name="gc_tranlist2" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list 3: </b>
                            <input type="text" id="gc_tranlist3" name="gc_tranlist3" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list 4: </b>
                            <input type="text" id="gc_tranlist4" name="gc_tranlist4" value="">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <b>Plot type:</b>
                            <input type="radio"
                                   class="scatter"
                                   value="scatter"
                                   name="plot_type"
                                   checked="">
                            Scatter
                            <input type="radio" class="box" value="box" name="plot_type" checked="">
                            Box plot
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Region:</b>
                            <input type="radio" class="all" value="all" name="gc_location" checked="">
                            All
                            <input type="radio" class="five" value="five" name="gc_location" checked="">
                            5'
                            <input type="radio" class="cds" value="cds" name="gc_location" checked="">
                            CDS
                            <input class="three"
                                   type="radio"
                                   value="three"
                                   name="gc_location"
                                   unchecked="">
                            3'
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <input type="checkbox"
                                   class="exons"
                                   value="exons"
                                   name="exons"
                                   display="none"
                                   visibility="hidden"
                                   unchecked="">
                            Use exon count instead of length
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list: </b>
                            <input type="text"
                                   id="gc_tranlist"
                                   name="gc_tranlist"
                                   value="ENST00000558401">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list 2: </b>
                            <input type="text" id="gc_tranlist2" name="gc_tranlist2" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list 3: </b>
                            <input type="text" id="gc_tranlist3" name="gc_tranlist3" value="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list 4: </b>
                            <input type="text" id="gc_tranlist4" name="gc_tranlist4" value="">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list: </b>
                            <input type="text"
                                   id="gc_tranlist"
                                   name="gc_tranlist"
                                   value="ENST00000558401">
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <input type="radio"
                                   class="tss"
                                   value="tss"
                                   name="nuc_freq_plot_anchor"
                                   checked="">
                            TSS
                            <input type="radio"
                                   class="cds_start"
                                   value="cds_start"
                                   name="nuc_freq_plot_anchor"
                                   checked="">
                            CDS start
                            <input type="radio"
                                   class="cds_stop"
                                   value="cds_stop"
                                   name="nuc_freq_plot_anchor"
                                   checked="">
                            CDS stop
                            <input class="tts"
                                   type="radio"
                                   value="tts"
                                   name="nuc_freq_plot_anchor"
                                   unchecked="">
                            TTS
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Include +/-
                            <input type="text"
                                   id="nuc_freq_plot_window"
                                   name="nuc_freq_plot_window"
                                   value="10">
                            nucleotides.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list: </b>
                            <input type="text"
                                   id="nuc_freq_plot_tranlist"
                                   name="nuc_freq_plot_tranlist"
                                   value="ENST00000558401">
                        </div>
                    </div>
                </div>
                <div>
                    <div id="options">
                        <br>
                        <p>
                            <font size="5" align="center"><b><u>Options</u></b></font>
                        </p>
                        <table align="center">
                            <div class="row">
                                <div class="col-6">
                                    <input type="checkbox"
                                           class="principal"
                                           value="principal"
                                           name="principal"
                                           checked="">
                                    Select principal isoforms only
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <b> ORF type: </b>
                                    <input type="radio" class="uorf" value="uorf" name="orftype" checked="">
                                    uORF
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" class="ouorf" value="ouorf" name="orftype" unchecked="">
                                    ouORF
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio"
                                           class="extension"
                                           value="extension"
                                           name="orftype"
                                           unchecked="">
                                    N-terminal extension
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" class="cds" value="cds" name="orftype" unchecked="">
                                    CDS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio"
                                           class="nested"
                                           value="nested"
                                           name="orftype"
                                           unchecked="">
                                    Nested
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" class="odorf" value="odorf" name="orftype" unchecked="">
                                    oDORF
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio" class="dorf" value="dorf" name="orftype" unchecked="">
                                    dORF
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="radio"
                                           class="noncoding"
                                           value="noncoding"
                                           name="orftype"
                                           unchecked="">
                                    noncoding
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-6">
                            <b>Region:</b>
                            <input type="radio" class="all" value="all" name="gc_location" unchecked="">
                            All
                            <input type="radio"
                                   class="five"
                                   value="five"
                                   name="gc_location"
                                   unchecked="">
                            5'
                            <input type="radio"
                                   class="start"
                                   value="start"
                                   name="gc_location"
                                   unchecked="">
                            Start codon
                            <input type="radio" class="cds" value="cds" name="gc_location" checked="">
                            CDS
                            <input type="radio"
                                   class="stop"
                                   value="stop"
                                   name="gc_location"
                                   unchecked="">
                            Stop codon
                            <input type="radio"
                                   class="three"
                                   value="three"
                                   name="gc_location"
                                   unchecked="">
                            3'
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <b>Transcript list: </b>
                            <input type="text"
                                   id="gc_tranlist"
                                   name="gc_tranlist"
                                   value="ENST00000558401">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Include first
                            <input type="text" id="include_first_val" name="include_first_val" value="0">
                            nucleotides.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Include last
                            <input type="text" id="include_last_val" name="include_last_val" value="0">
                            nucleotides.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Exclude first
                            <input type="text" id="exclude_first_val" name="exclude_first_val" value="0">
                            nucleotides.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Exclude last
                            <input type="text" id="exclude_last_val" name="exclude_last_val" value="0">
                            nucleotides.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="options">
        </br>
        <center>
            <p>
                <font size="5"><b><u>Options</u></b></font>
            </p>
        </center>
    </div>
    <div id="view_plot" class="wrapper">
        <button class="button" type="button"  id="traninfoquery">
            <b>View Plot</b>
        </button>
    </div>
    {% include 'loading.html' %}
    <div id="fa_div" align="center">
        <a id="fa_link"
           href="{{ url_for('static', filename='tmp/robots.txt') }}"
           download="robots.txt">Download fasta file</a>
    </table>
</div>
<div id="container"></div>
<div id = "study_dialog" title = "Study info">
    <table>
    </table>
</div>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
