{% extends "layout.html" %}
{% block content %}
    <head>
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/common.css') }}">
    </head>
    <h3>Filters</h3>
    <br>
    <div>
        <table class="filters">
            <tr>
                <td>Organism:</td>
                <td>
                    <select name="organism" id="organism_dropdown">
                        <option value="item0">Select an Organism</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Label:</td>
                <td>
                    <input id="label" name="label" value="">
                </input>
            </td>
            <td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="buttons"></div>
<div id="wrapper" style="text-align: center">
    <button class="button" type="button"  id="query">
        <b>Generate table</b>
    </button>
</div>
{% include 'loading.html' %}
<div id="results_container">
    <br>
    <br>
    <br>
    <br>
    <h2 align="center">Results Table</h2>
    <table id="myTable" class="prediction_table hover">
        {% if advanced %}
            <thead>
                <tr>
                    <th>Gene</th>
                    <th>Tran</th>
                    <th>Start</th>
                    <th>Stop</th>
                    <th>Length</th>
                    <th>Score</th>
                    <th>Label</th>
                    <th>Trips-viz link</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        {% endif %}
    </table>
</div>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
